In [26]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler, StandardScaler, Imputer
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

In [27]:
spark = SparkSession.builder.appName('').getOrCreate()

In [28]:
df = spark.read.csv('./vgsales.csv', header = True, inferSchema = True)

In [29]:
!ls

 bitcoin.csv
 Cause_of_death_in_indonesia.ipynb
 LinearRegression_bitcoin.ipynb
 LinearRegression_student.ipynb
'Penyebab Kematian di Indonesia yang Dilaporkan - Clean.csv'
 student_academic_placement_performance_dataset.csv
 vgsales.csv
 video_games.ipynb
 work

In [30]:
df.show()

+----+--------------------+--------+----+------------+--------------------+--------+--------+--------+-----------+------------+
|Rank|                Name|Platform|Year|       Genre|           Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+----+--------------------+--------+----+------------+--------------------+--------+--------+--------+-----------+------------+
|   1|          Wii Sports|     Wii|2006|      Sports|            Nintendo|   41.49|   29.02|    3.77|       8.46|       82.74|
|   2|   Super Mario Bros.|     NES|1985|    Platform|            Nintendo|   29.08|    3.58|    6.81|       0.77|       40.24|
|   3|      Mario Kart Wii|     Wii|2008|      Racing|            Nintendo|   15.85|   12.88|    3.79|       3.31|       35.82|
|   4|   Wii Sports Resort|     Wii|2009|      Sports|            Nintendo|   15.75|   11.01|    3.28|       2.96|        33.0|
|   5|Pokemon Red/Pokem...|      GB|1996|Role-Playing|            Nintendo|   11.27|    8.89|   10.22|        1.0|       31.37|
|   6|              Tetris|      GB|1989|      Puzzle|            Nintendo|    23.2|    2.26|    4.22|       0.58|       30.26|
|   7|New Super Mario B...|      DS|2006|    Platform|            Nintendo|   11.38|    9.23|     6.5|        2.9|       30.01|
|   8|            Wii Play|     Wii|2006|        Misc|            Nintendo|   14.03|     9.2|    2.93|       2.85|       29.02|
|   9|New Super Mario B...|     Wii|2009|    Platform|            Nintendo|   14.59|    7.06|     4.7|       2.26|       28.62|
|  10|           Duck Hunt|     NES|1984|     Shooter|            Nintendo|   26.93|    0.63|    0.28|       0.47|       28.31|
|  11|          Nintendogs|      DS|2005|  Simulation|            Nintendo|    9.07|    11.0|    1.93|       2.75|       24.76|
|  12|       Mario Kart DS|      DS|2005|      Racing|            Nintendo|    9.81|    7.57|    4.13|       1.92|       23.42|
|  13|Pokemon Gold/Poke...|      GB|1999|Role-Playing|            Nintendo|     9.0|    6.18|     7.2|       0.71|        23.1|
|  14|             Wii Fit|     Wii|2007|      Sports|            Nintendo|    8.94|    8.03|     3.6|       2.15|       22.72|
|  15|        Wii Fit Plus|     Wii|2009|      Sports|            Nintendo|    9.09|    8.59|    2.53|       1.79|        22.0|
|  16|  Kinect Adventures!|    X360|2010|        Misc|Microsoft Game St...|   14.97|    4.94|    0.24|       1.67|       21.82|
|  17|  Grand Theft Auto V|     PS3|2013|      Action|Take-Two Interactive|    7.01|    9.27|    0.97|       4.14|        21.4|
|  18|Grand Theft Auto:...|     PS2|2004|      Action|Take-Two Interactive|    9.43|     0.4|    0.41|      10.57|       20.81|
|  19|   Super Mario World|    SNES|1990|    Platform|            Nintendo|   12.78|    3.75|    3.54|       0.55|       20.61|
|  20|Brain Age: Train ...|      DS|2005|        Misc|            Nintendo|    4.75|    9.26|    4.16|       2.05|       20.22|
+----+--------------------+--------+----+------------+--------------------+--------+--------+--------+-----------+------------+
only showing top 20 rows

In [31]:
df.groupBy('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|   16|
|2016|  344|
|2012|  657|
|2020|    1|
|1988|   15|
|2017|    3|
|2014|  582|
|1984|   14|
|2013|  546|
|1982|   36|
|2005|  941|
|2000|  349|
|1981|   46|
|2002|  829|
|2009| 1431|
|1995|  219|
|2006| 1008|
|2004|  763|
|1989|   17|
|2011| 1139|
+----+-----+
only showing top 20 rows

In [32]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----+----+--------+----+-----+---------+--------+--------+--------+-----------+------------+
|Rank|Name|Platform|Year|Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+----+----+--------+----+-----+---------+--------+--------+--------+-----------+------------+
|   0|   0|       0|   0|    0|        0|       0|       0|       0|          0|           0|
+----+----+--------+----+-----+---------+--------+--------+--------+-----------+------------+

In [33]:
df = df.drop('Name', 'Rank')
df.show(2)

+--------+----+--------+---------+--------+--------+--------+-----------+------------+
|Platform|Year|   Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+--------+----+--------+---------+--------+--------+--------+-----------+------------+
|     Wii|2006|  Sports| Nintendo|   41.49|   29.02|    3.77|       8.46|       82.74|
|     NES|1985|Platform| Nintendo|   29.08|    3.58|    6.81|       0.77|       40.24|
+--------+----+--------+---------+--------+--------+--------+-----------+------------+
only showing top 2 rows

In [34]:
df.columns

['Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

In [35]:
df.printSchema()

root
 |-- Platform: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- NA_Sales: double (nullable = true)
 |-- EU_Sales: double (nullable = true)
 |-- JP_Sales: double (nullable = true)
 |-- Other_Sales: double (nullable = true)
 |-- Global_Sales: double (nullable = true)

In [36]:
df = df.withColumn('Year', col('Year').cast('int'))

In [37]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()
df.printSchema()

+--------+----+-----+---------+--------+--------+--------+-----------+------------+
|Platform|Year|Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+--------+----+-----+---------+--------+--------+--------+-----------+------------+
|       0| 271|    0|        0|       0|       0|       0|          0|           0|
+--------+----+-----+---------+--------+--------+--------+-----------+------------+

root
 |-- Platform: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- NA_Sales: double (nullable = true)
 |-- EU_Sales: double (nullable = true)
 |-- JP_Sales: double (nullable = true)
 |-- Other_Sales: double (nullable = true)
 |-- Global_Sales: double (nullable = true)

In [38]:
# df = df.dropna(subset = 'Year')
# df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

In [39]:
df.columns

['Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

In [40]:
imputer = Imputer(inputCol = 'Year', outputCol = 'Year_imputer').setStrategy('median')

cat_cols = ['Platform', 'Genre', 'Publisher']
indexer = [StringIndexer(inputCol = i, outputCol = i+'_idx', handleInvalid = 'keep') for i in cat_cols]
ohe = [OneHotEncoder(inputCol = i+'_idx', outputCol = i+'_enc') for i in cat_cols]

num_cols = ['Year_imputer', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']
num_assembler = VectorAssembler(inputCols = num_cols, outputCol = 'num_features')
scaler = StandardScaler(inputCol = 'num_features', outputCol = 'scaled_features', withMean = True, withStd = True)

features_cols = [i+'_enc' for i in cat_cols] + ['scaled_features']
assembler_all = VectorAssembler(inputCols = features_cols, outputCol = 'features')
lm = LinearRegression(featuresCol = 'features', labelCol = 'Global_Sales')

In [41]:
pipeline = Pipeline(stages = [imputer] + indexer + ohe + [num_assembler, scaler, assembler_all, lm])

In [42]:
df.count()

16598

In [43]:
train, test = df.randomSplit([0.7, 0.3], seed = 42)
train.describe().show()
test.describe().show()

+-------+--------+------------------+--------+--------------------+------------------+-------------------+-------------------+-------------------+------------------+
|summary|Platform|              Year|   Genre|           Publisher|          NA_Sales|           EU_Sales|           JP_Sales|        Other_Sales|      Global_Sales|
+-------+--------+------------------+--------+--------------------+------------------+-------------------+-------------------+-------------------+------------------+
|  count|   11723|             11541|   11723|               11723|             11723|              11723|              11723|              11723|             11723|
|   mean|  2600.0|2006.4126158911706|    NULL|                NULL|0.2717461400665366|0.15199607608973312|0.07789985498592249|0.04914356393414434|0.5510185106201623|
| stddev|     0.0|5.8355505467984115|    NULL|                NULL|0.8854130581898536| 0.5377644845384209| 0.2939859993668561|0.18123714679038358| 1.645114855197849|
|    min|    2600|              1980|  Action|     10TACLE Studios|               0.0|                0.0|                0.0|                0.0|              0.01|
|    max|    XOne|              2016|Strategy|inXile Entertainment|             41.49|              29.02|                7.2|               8.46|             82.74|
+-------+--------+------------------+--------+--------------------+------------------+-------------------+-------------------+-------------------+------------------+

+-------+--------+------------------+--------+---------------+------------------+-------------------+-------------------+--------------------+------------------+
|summary|Platform|              Year|   Genre|      Publisher|          NA_Sales|           EU_Sales|           JP_Sales|         Other_Sales|      Global_Sales|
+-------+--------+------------------+--------+---------------+------------------+-------------------+-------------------+--------------------+------------------+
|  count|    4875|              4786|    4875|           4875|              4875|               4875|               4875|                4875|              4875|
|   mean|  2600.0|2006.3915587129127|    NULL|           NULL|0.2476451282051254|0.13380102564102367|0.07749743589743509|0.045464615384615256|0.5047897435897415|
| stddev|     0.0| 5.813690809639985|    NULL|           NULL|0.6207638493684732|0.41699313165756574|0.34334456169022814| 0.20518715630083537|1.3129191289662183|
|    min|    2600|              1980|  Action|10TACLE Studios|               0.0|                0.0|                0.0|                 0.0|              0.01|
|    max|    XOne|              2020|Strategy|   responDESIGN|             12.78|               9.27|              10.22|               10.57|             31.37|
+-------+--------+------------------+--------+---------------+------------------+-------------------+-------------------+--------------------+------------------+

In [44]:
train.select([count(when(col(c).isNull(), c)).alias(c) for c in train.columns]).show()
test.select([count(when(col(c).isNull(), c)).alias(c) for c in test.columns]).show()

+--------+----+-----+---------+--------+--------+--------+-----------+------------+
|Platform|Year|Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+--------+----+-----+---------+--------+--------+--------+-----------+------------+
|       0| 182|    0|        0|       0|       0|       0|          0|           0|
+--------+----+-----+---------+--------+--------+--------+-----------+------------+

+--------+----+-----+---------+--------+--------+--------+-----------+------------+
|Platform|Year|Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+--------+----+-----+---------+--------+--------+--------+-----------+------------+
|       0|  89|    0|        0|       0|       0|       0|          0|           0|
+--------+----+-----+---------+--------+--------+--------+-----------+------------+

In [45]:
model = pipeline.fit(train)

In [46]:
pred = model.transform(test)

In [47]:
pred.select('features', 'prediction').show(truncate = False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|features                                                                                                                                                |prediction         |
+--------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|(559,[19,29,52,554,555,556,557,558],[1.0,1.0,1.0,0.09986397102324425,0.02061620818060091,-0.2454533162468594,-0.2649781117253696,-0.27115613330078103]) |0.3103454413345508 |
|(559,[19,33,52,554,555,556,557,558],[1.0,1.0,1.0,0.09986397102324425,1.0596792663659635,-0.13388031035841777,-0.2649781117253696,-0.21597980671931105]) |1.3000606972395015 |
|(559,[19,40,52,554,555,556,557,558],[1.0,1.0,1.0,0.09986397102324425,0.08838119023616804,-0.2454533162468594,-0.2649781117253696,-0.27115613330078103]) |0.3705356988853758 |
|(559,[19,40,52,554,555,556,557,558],[1.0,1.0,1.0,0.09986397102324425,0.15614617229173516,-0.22685781526545246,-0.2649781117253696,-0.27115613330078103])|0.44053113160544843|
|(559,[19,34,52,554,555,556,557,558],[1.0,1.0,1.0,0.09986397102324425,0.720854356088128,-0.17107131232123166,-0.2649781117253696,-0.21597980671931105])  |0.9802417057879598 |
|(559,[19,34,52,554,555,556,557,558],[1.0,1.0,1.0,0.09986397102324425,2.3585080890976666,-0.022307304469976124,-0.2649781117253696,-0.10562715355637116])|2.530140211467615  |
|(559,[19,30,43,554,555,556,557,558],[1.0,1.0,1.0,0.09986397102324425,0.23520531802323016,-0.22685781526545246,-0.2649781117253696,-0.21597980671931105])|0.5198278912971742 |
|(559,[19,31,43,554,555,556,557,558],[1.0,1.0,1.0,-4.562924636855195,-0.02456044652311049,-0.2454533162468594,-0.2649781117253696,-0.27115613330078103]) |0.2704321473811875 |
|(559,[19,31,52,554,555,556,557,558],[1.0,1.0,1.0,-4.562924636855195,-0.05844293755089405,-0.2640488172282663,-0.2649781117253696,-0.27115613330078103]) |0.2309814949969607 |
|(559,[19,34,52,554,555,556,557,558],[1.0,1.0,1.0,-4.562924636855195,2.5843913626162243,0.03347919847424468,-0.2649781117253696,-0.10562715355637116])   |2.7606694733347052 |
|(559,[19,34,52,554,555,556,557,558],[1.0,1.0,1.0,-4.562924636855195,4.2107509319498355,0.2008387073069071,-0.2649781117253696,0.004725499606568768])    |4.310567995241105  |
|(559,[19,29,43,554,555,556,557,558],[1.0,1.0,1.0,-4.390228762489326,0.11096951758802377,-0.2454533162468594,-0.2649781117253696,-0.27115613330078103])  |0.3903175733559327 |
|(559,[19,29,43,554,555,556,557,558],[1.0,1.0,1.0,-4.390228762489326,0.14485200861580735,-0.2454533162468594,-0.2649781117253696,-0.27115613330078103])  |0.4203156089959305 |
|(559,[19,29,52,554,555,556,557,558],[1.0,1.0,1.0,-4.390228762489326,-0.06973710122682192,-0.2640488172282663,-0.2649781117253696,-0.27115613330078103]) |0.22087543319838215|
|(559,[19,29,52,554,555,556,557,558],[1.0,1.0,1.0,-4.390228762489326,1.7712115779494186,-0.07809380741419696,-0.2649781117253696,-0.1608034801378411])   |1.9707608755981783 |
|(559,[19,29,311,554,555,556,557,558],[1.0,1.0,1.0,-4.390228762489326,0.3142644637547252,-0.22685781526545246,-0.2649781117253696,-0.21597980671931105]) |0.5900216626169635 |
|(559,[19,29,404,554,555,556,557,558],[1.0,1.0,1.0,-4.390228762489326,0.09967535391209591,-0.2454533162468594,-0.2649781117253696,-0.27115613330078103]) |0.38001629243099344|
|(559,[19,29,191,554,555,556,557,558],[1.0,1.0,1.0,-4.390228762489326,0.06579286288431237,-0.2454533162468594,-0.2649781117253696,-0.27115613330078103]) |0.3529520606272048 |
|(559,[19,29,554,555,556,557,558],[1.0,1.0,-4.390228762489326,0.5514419009492101,-0.18966681330263857,-0.2649781117253696,-0.21597980671931105])         |0.8200964028554963 |
|(559,[19,29,219,554,555,556,557,558],[1.0,1.0,1.0,-4.390228762489326,-0.06973710122682192,-0.2640488172282663,-0.2649781117253696,-0.27115613330078103])|0.22000416150744972|
+--------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
only showing top 20 rows

In [48]:
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'rmse')
rmse = eval.evaluate(pred)
print('RMSE = {:.4f}'.format(rmse))
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'mse')
mse = eval.evaluate(pred)
print('MSE = {:.4f}'.format(mse))
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'mae')
mae = eval.evaluate(pred)
print('MAE = {:.4f}'.format(mae))
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'r2')
r2 = eval.evaluate(pred)
print('R2 = {:.4f}'.format(r2))

RMSE = 0.0053
MSE = 0.0000
MAE = 0.0032
R2 = 1.0000

In [49]:
paramGrid = (ParamGridBuilder().addGrid(lm.regParam, [0.01, 0.5, 1.0]).addGrid(lm.elasticNetParam, [0.1, 0.2, 0.5, 1.0]).build())

In [50]:
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'rmse')

In [51]:
cv = CrossValidator(estimator = pipeline, estimatorParamMaps = paramGrid, evaluator = eval, numFolds = 3)

In [55]:
cv_model = cv.fit(train)

In [56]:
cv_pred = cv_model.transform(test)

In [60]:
cv_pred.select('Global_Sales', 'prediction').show()

+------------+-------------------+
|Global_Sales|         prediction|
+------------+-------------------+
|        0.31| 0.3092698677981408|
|         1.3| 1.2916324871913456|
|        0.38|0.36877026599154017|
|        0.44| 0.4382358226008485|
|        0.98| 0.9742001793925308|
|        2.53| 2.5123121962582085|
|        0.51| 0.5178851837587752|
|        0.27| 0.2696029356692079|
|        0.24|0.22988757815659938|
|        2.76| 2.7405423321506004|
|        4.31|  4.278702774399954|
|        0.39| 0.3886037320560067|
|        0.43|0.41835393115270636|
|        0.22| 0.2199708451243661|
|        1.97| 1.9565143734020598|
|        0.59| 0.5873023149844079|
|        0.39|0.37868699902377345|
|        0.36|0.34893679992707377|
|        0.82| 0.8154840254931235|
|        0.22| 0.2199708451243661|
+------------+-------------------+
only showing top 20 rows

In [58]:
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'rmse')
rmse = eval.evaluate(cv_pred)
print('RMSE = {:.4f}'.format(rmse))
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'mse')
mse = eval.evaluate(cv_pred)
print('MSE = {:.4f}'.format(mse))
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'mae')
mae = eval.evaluate(cv_pred)
print('MAE = {:.4f}'.format(mae))
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'r2')
r2 = eval.evaluate(cv_pred)
print('R2 = {:.4f}'.format(r2))

RMSE = 0.0071
MSE = 0.0001
MAE = 0.0043
R2 = 1.0000

In [59]:
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'rmse')
rmse = eval.evaluate(pred)
print('RMSE = {:.4f}'.format(rmse))
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'mse')
mse = eval.evaluate(pred)
print('MSE = {:.4f}'.format(mse))
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'mae')
mae = eval.evaluate(pred)
print('MAE = {:.4f}'.format(mae))
eval = RegressionEvaluator(labelCol = 'Global_Sales', predictionCol = 'prediction', metricName = 'r2')
r2 = eval.evaluate(pred)
print('R2 = {:.4f}'.format(r2))

RMSE = 0.0053
MSE = 0.0000
MAE = 0.0032
R2 = 1.0000